# Flutter folder (ignored as requested)
/app/
# Webclient folder (ignored as requested)
/webclient/
# Old web folder (not needed)
/web/

# Standard Ignores
.idea/
.vscode/
node_modules/
vendor/
.env

# MacOS / Windows OS files
.DS_Store
Thumbs.db
Desktop.ini

# Build directories
dist/
build/
.next/
out/
coverage/

# Misc
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
